Options -Indexes

<Files "config.php">
    Order allow,deny
    Deny from all
</Files>

<Files "setup.php">
    Order allow,deny
    Deny from all
</Files>

<Files "config.yml">
    Order allow,deny
    Deny from all
</Files>
